<div class="body">

  <div>
    <h1 class="color-white fts-42">A propos de moi</h1>
    <p class="color-white fts-24">
      <span>
        Je suis étudiant en BTS SIO(Services informatiques aux organisations)
         et spécialisée dans le développement .
      </span>
      <span>
        J’ai obtenue mon BAC spécialité (informatique , mathématique et
        audiovisuelle) avec mention assez bien .
      </span>
      <span>
        Je souhaite continuer de me former en informatique et je pense que le
        BTS SIO est la formation qu'il me faut. Je suis a la recherche de
        nouvelle expérience dans le monde du numérique .
      </span>
      <span>
        Je posséde également le permis B .
      </span>
    </p>
  </div>

  <div>
    <h3 class="color-purple fts-30 mg-t-10">Objectif Professionel</h3>
    <p class="color-white fts-24">
      <span>
        J’ai comme projet de devenir developper full stack.
        J’aimerais également m’orienter vers du DevOps dans le future .
      </span>
      <span>
        Aprés ma formation au sein du BTS SIO(Services informatiques aux
        organisations), je voudrais m’orienter vers une licence en alternance
        MIAW(métiers de l’informatique : application web) .
      </span>
      <span>
        Suite à cela je m’orinterrais sois vers un poste au sein d’une
         entreprise ou je continuerais ma formation avec un master .
      </span>
    </p>
  </div>












</div>



<footer class="mg-t-10">
  <app-footer></app-footer>
</footer>
