<div class="body">

  <h1 class="color-white txt-center fts-42">BTS SIO</h1>

  <div id="presentation-bts" class="mg-t-15">
    <h3 class="color-purple fts-26">Presentation du BTS SIO</h3>
    <p class="color-white fts-22">
      Il s’agit d’un BTS informatique, cette formation permet de former de futur professionnels des reseaux et équipements informatiques ou de futurs spécialistes des logiciels.
      La formation dure 2 ans, durant cette formation nous avons eu la possibilité de nous spécialiser entre 2 spécialitées (SLAM et SISSR). Pour plus d’information venir sur notre site
      <a href="https://www.btsinfo.nc">btsinfo.nc</a> .
    </p>
  </div>

  <div id="why-bts" class="mg-t-15">
    <h3 class="color-purple fts-26">Pourquoi j’ai choisi le BTS ?</h3>
    <p class="color-white fts-22">
      J’ai choisi le BTS SIO car c’était la formation qui me correspondait le mieux. La formation n’ont propose un coté pratique et théorique. De plus nous avons la possibilité d’éffectuer des stages.
      Les autres formations ne m’interressées par car elle proposait tous de l’audio visuel ou était plus théorique.
    </p>
    <p class="color-white fts-22">
      Durant ma formation j’ai eu la possibilité de me spécialiser entant que développeur. J'ai choisi la spécialité SLAM car j'avais déjà des bases en développement et je souhaitais m'améliorer dans ce secteur.
      J'ai comme objectifs de devenir développeur full stack et cette formation et selon moi parfaite pour y parvenir.
    </p>
  </div>

  <h3 class="color-purple fts-26 mg-t-18">Mes synthéses de stages</h3>

  <div id="syntese1">
    <h3 class="color-white fts-26 txt-center mg-t-10">Synthése de 1er année</h3>
    <p class="color-white fts-20">
      J'ai eu l'opportunité d'effectuer mon stage dans l'entreprise BBS.
    </p>

  </div>


</div>



<footer class="mg-t-10">
  <app-footer></app-footer>
</footer>
