<div class="body">

  <h1 class="color-white txt-center fts-42">BTS SIO</h1>

  <div id="presentation-bts" class="mg-t-15">
    <h3 class="color-purple fts-26">Presentation du BTS SIO</h3>
    <p class="color-white fts-22">
      Il s’agit d’un BTS informatique, cette formation permet de former de futur professionnels des reseaux et équipements informatiques ou de futurs spécialistes des logiciels.
      La formation dure 2 ans, durant cette formation nous avons eu la possibilité de nous spécialiser entre 2 spécialitées (SLAM et SISSR). Pour plus d’information venir sur notre site
      <a href="https://www.btsinfo.nc">btsinfo.nc</a> .
    </p>
  </div>

  <div id="why-bts" class="mg-t-15">
    <h3 class="color-purple fts-26">Pourquoi j’ai choisi le BTS ?</h3>
    <p class="color-white fts-22">
      J’ai choisi le BTS SIO car c’était la formation qui me correspondait le mieux. La formation n’ont propose un coté pratique et théorique. De plus nous avons la possibilité d’éffectuer des stages.
      Les autres formations ne m’interressées par car elle proposait tous de l’audio visuel ou était plus théorique.
    </p>
    <p class="color-white fts-22">
      Durant ma formation j’ai eu la possibilité de me spécialiser entant que développeur. J'ai choisi la spécialité SLAM car j'avais déjà des bases en développement et je souhaitais m'améliorer dans ce secteur.
      J'ai comme objectifs de devenir développeur full stack et cette formation et selon moi parfaite pour y parvenir.
    </p>
  </div>

  <h3 class="color-purple fts-26 mg-t-18 txt-center">Mes synthéses de stages</h3>

  <div id="syntese1">
    <h3 class="color-purple fts-26 txt-center mg-t-10">Synthése de 1er année</h3>
    <h1 class="color-white fts-30 txt-center mg-t-10">Stage APID (Alternative Prjects For Inteligence In Data)</h1>
    <p class="color-white fts-20">
      <span class="color-purple fts-22">Contexte de stage :</span> <br>
      <span>Mon stage de 1er année s'est déroulé dans la jeune entreprise APID.</span>
      <span>Il s’agit d'une jeune entreprise spécialisée dans le développement et la gestion de DATA.</span>
      <span>L’entreprise possède à son active 5 personnes dont 2 développeurs.</span>
      <span>Durant tous mon stages j’ai été sous le tutorat de ces 2 développeurs expérimentées Thomas Avron et Éric Vidal.</span>
      <span>J’ai eu différentes missions qui vont de la conception d’un schéma relationnel de base de données, au développement d'une fonctionnalitée pour une application web sous le framework Django.</span>
      <span>De plus nous avons participé durant ma période de stage aux océans Hackathon de 2022.</span>
      <span>Cette participation nous aura permis de nous placer sur le podium avec le prix local.</span>
      <span>Au niveau développement nous avons utilisé des outils de versionings du code tels que GIT héberger sur les serveurs de l’entreprise.</span>
    </p>

    <p class="color-white fts-20">
      <span class="color-purple fts-22">Compétences développées :</span> <br>
      <span>-> Analyse d'un cahier des charges</span>
      <span>-> Autoformation sur le framework python Django et le machine & deep learning</span>
      <span>-> Développement de fonctionalitées sur un applications en production</span>
      <span>-> Versioning des différentes codes</span>
      <span>-> Rédaction de documentation sur des outils de stack data telle que Airbyte</span>
      <span>-> Mise en place d'une VM de calcul sous la distribution Obarun</span>
    </p>
  </div>

  <h1 class="color-purple fts-30 txt-center mg-t-10">Océan Hackathon</h1>

  <div id="main">
    <p class="color-white fts-20">
      <span>Mon principale objectifs durant mon stage était la mise en place d'un model
         capable de prédire la concentration en galce en Antartique.</span>
      <span>Notre modéle est basé sur l'architecture LSTM (Long Short-Term Memory).</span>
      <span>Une fois le modéle établit nous l'avons entrainer durant de longues 
        heures.
      </span>
      <span>Durant cette entrainement il a observer des milliers d'images
         satelites de l'antartique.</span>
      <span>Nous avons utiliser des procédés de deep learning et machine learning.

      </span>
      <span>Le but de ce projet et d'aider tous les marins afin qu'il puisse 
        adopte une tactique d'approche convenable.</span>
          <img id="tensorflow" src="assets/Image/tensorflow.png" alt="tensorflow">
          <img id="kereas" src="assets/Image/kereas.png" alt="kereas">
    
      </p>

      <br>

      <div>
        <p class="color-white fts-20">
          <span>Les programmes ont était réalisée en python avec les librairies Kereas et Tensorflow .</span>
          <span>Afin d'entrainer notre modéle nous avons eu accées un stock d'image fourni par l'université de Bremen.</span>
          <span>A partir de ces images nous avons créer notre dataset.</span>
        </p>
        <img id="univ_logo" src="assets/Image/univ.png" alt="univ_logo">
      </div>

      <br>

    <p class="color-white fts-20 txt-center">
      <span class="italic">Par exemple le code suivant nous a premis d'entrainer notre réseaux de neurone : </span>
      <span id="box_codeExemple">
        <img src="assets/Image/code_exemple1.png" alt="code">
        <img src="assets/Image/code_exemple2.png" alt="code">
      </span>
    </p>

    <p class="color-white fts-20 txt-center">
      <span>Une fois que l'apprentissage de notre modèle est fini nous avons pu 
        lui demander de prédire la concentration en glace autour de l'Antarctique.</span>
            <br>
        <span class="italic">Voici le résultat de 15 jours de prédictions</span>
        <span>Les images de gauches sont les images forunis par l'universitée de Bremen</span>
        <span>Les images de droites sont les predictions</span>
        <img id="ice_prediction" src="assets/Image/ice_prediction.gif" alt="ice_prédiction">
    </p>
  </div>

  <h3 class="color-white txt-center fts-26 mg-t-18">Mes autres missions</h3>

  <div id="mission">
    <p class="color-white fts-20">
      <span>J'ai également travaillé sur la conception d'une base de données relationnelle pour l'application web d'un garage.</span>
      <span>J'ai du créer un schéma relationnel de données cohérent avec les besoins de l'entreprise.</span>
      <span>Ce schéma relationnel va permettre de créer la base de données de façon cohérente.</span>
      <img id="diag" src="assets/Image/diag.png" alt="Schéma relationnel">
    </p>

      <br>

    <p class="color-white fts-20">
      <span>J'ai également travaillé sur une application interne de type GLPI.</span>
      <span>Cette application et développées sous le framework Django.</span>
      <span>On ma demandé de créer une fonctionalitées afin de déplacer des utilisateurs dans un groupes spécifiques.</span>
      <img id="django" src="assets/Image/django.png" alt="glpi">
    </p>
  </div>


</div>



<footer class="mg-t-10">
  <app-footer></app-footer>
</footer>
