
.body{
  padding: 7vh 9vw 0vh 9vw; // bas gauche haut droite bghd
}

#box-article{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-around;
}


#description{

  span::after { // line break after each span
    content: "\A";
    white-space: pre;
  }

}
