<mat-toolbar class="nav">
  <span class="color-purple ml">Desfontaine Lucas</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <nav id="nav-container">
    <a routerLink="/home"  routerLinkActive="active">Home</a>
    <a routerLink="/parcours" routerLinkActive="active">Parcours</a>
    <a routerLink="/veille" routerLinkActive="active">Veille</a>
    <a routerLink="/bts" routerLinkActive="active">BTS</a>

  </nav>



</mat-toolbar>
